{% extends 'base_auth.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Bibelo Express - Register{% endblock %}

{% block auth_content %}

<form method="post">
  {% csrf_token %} {# Importante para segurança em formulários Django #}
    {# Campo para o Nome de Usuário (username) #}
  <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">Nome de Usuário</label>
      {% render_field form.username class="form-control" placeholder="Digite seu nome de usuário" %}
      {% if form.username.errors %}
          <div class="text-danger small mt-1">
              {% for error in form.username.errors %}
                  {{ error }}
              {% endfor %}
          </div>
      {% endif %}
  </div>

  <div class="mb-3">
    <label for="{{ form.password1.id_for_label }}" class="form-label">Senha</label>
    {% render_field form.password1 class="form-control" placeholder="Senha do usuario" %}
    {% if form.password1.errors %}
        <div class="text-danger small mt-1">
            {% for error in form.password1.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="{{ form.password1.id_for_label }}" class="form-label">Confirmar senha</label>
    {% render_field form.password2 class="form-control" placeholder="Repita sua senha" %}
    {% if form.password2.errors %}
        <div class="text-danger small mt-1">
            {% for error in form.password2.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
  <div class="d-flex align-items-center justify-content-center">
    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
    <a class="text-primary fw-bold ms-2" href="{% url 'accounts:authentication_login' %}">Sign In</a>
  </div>
</form>
{% endblock %}