{% comment %}
ARQUIVO: templates/orders/partials/_order_table.html
OBJETIVO: Renderizar APENAS a tabela com a lista de pedidos.
É um arquivo parcial incluído pelo 'base_orders.html'.
{% endcomment %}
{% load order_helpers %}
        <table class="table search-table align-middle text-nowrap">
            <thead class="header-item">
                <tr>

                    <th>Número</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Status Entrega</th>
                    <th class="text-end">Valor Pedido</th>
                    <th>Data do Pedido</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                
                <tr class="search-items">
   
                    <td>
                        <a href="#" class="fw-bold text-dark">#{{order.order_number}}</a>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="">
                                <h6 class="user-name"> {{order.customer.nickname}}</h6>
                                <span class="user-work fs-3">{{order.customer.}}</span>
                            </div>
                        </div>
                    </td>
                      <td>
                        <span class="badge {{ order.payment_status|status_to_badge }}">{{order.get_payment_status_display }}</span>
                    </td>
                    <td>
                        <span class="badge {{ order.delivery_status|status_to_badge }}"> {{order.get_delivery_status_display }}</span>
                    </td>
                    <td class="text-end">
                        <span class="fw-bold">R$ {{ order.total_amount|floatformat:2 }} </span>
                    </td>
                    <td>
                        <span class="order-date"> {{ order.created_at|date:"d/m/Y H:i" }} </span>
                    </td>
                    <td>
                        <div class="action-btn">
                            <a href="#" class="text-primary view-btn" title="Ver Detalhes">
                                <i class="ti ti-eye fs-5"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center py-5">
                        <p>Nenhum pedido encontrado.</p>
                        <a href="#" class="btn btn-primary">Sincronizar Agora</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
